@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=WDXL+Lubrifont+SC&display=swap');

:root {
    --dark_grey: rgba(44, 44, 44, 1);
    --text: rgba(228, 228, 228, 1);
    --text_black: rgba(0, 0, 0, 1);
    --orange: rgba(204, 150, 10, 1);
    --dark: rgba(62, 62, 62, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--dark_grey);
}

.menu {
    display: flex;
    max-width: 877px;
    width: 100%;
    margin: 0 auto;

    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.menu_item {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.menu_item a {
    color: var(--text);
    text-decoration: none;
}

.menu_item a:hover {
    color: rgb(81, 113, 103);
}

main {
    background-color: var(--dark_grey);
}

.hero-block {
    display: flex;
    background-color: var(--dark_grey);
    max-width: 1011px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    flex-wrap: wrap;
}

.hero-block div {
    display: flex;
    /* Направление flex */
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    color: var(--text);
    font-family: Inter;
    font-size: 64px;
    font-weight: 400;
    /* число* * font-size => px/*/
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    max-width: 567px;
    width: 100%;
}

.hero-block button {
    max-width: 220px;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    border-radius: 6px;
    background-color: var(--orange);
    color: var(--text_black);
}

.hero-block button:active {
    filter: brightness(80%);
}

.about {
    background-color: var(--dark);
}

.container_about {
    max-width: 880px;
    width: 100%;
    margin: 60px auto 100px;
    padding-top: 60px;
}

.text_style {
    display: block;
    color: var(--text);
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    /* 58px/48 => 1.208333*/
    line-height: 1.208333;
    text-align: center;
    margin-bottom: 65px;
}

.container_about p {
    color: var(--text);
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    /* 34/28 => 1.214285 */
    line-height: 1.214285;
    max-width: 440px;
    width: 100%;
}

.container_about img {
    width: 390px;
    height: 400px;
    border-radius: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 48px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    outline: 45px solid var(--text);

    max-width: 765px;
    width: 100%;

    min-height: 435px;
}

.container_video {
    padding-bottom: 100px;
}

.galery_container {
    justify-content: center;
    gap: 15px;
}

.galery_container img {
    max-width: 640px;
    width: 100%;
    min-height: 360px;
}

footer {
    background-color: var(--text_black);
    color: var(--text);
    padding: 50px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 0.833333;
}

.footer_menu {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

.footer_menu,
.social_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.social {
    display: block;
    width: 50px;
    height: 50px;
}

.social img {
    display: block;
    width: 100%;
    height: 100%;
}